@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#07080d] text-gray-100 antialiased;
    font-family: 'Inter', sans-serif;
    overscroll-behavior-y: none;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    -webkit-user-select: none;
  }
}

@layer utilities {
  @keyframes bounce-x {
    0%, 100% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-4px);
    }
  }

  @keyframes bounce-x-reverse {
    0%, 100% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(4px);
    }
  }

  .animate-bounce-x {
    animation: bounce-x 1.5s infinite ease-in-out;
  }

  .animate-bounce-x-reverse {
    animation: bounce-x-reverse 1.5s infinite ease-in-out;
  }
}
